<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Page</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />

</head>
<body style="background-color:lavender;">
<h1 style="text-align:center; color:#6A5ACD; margin-top:30px;" th:text="'Welcome to Reza`s Dockerized Thymeleaf Java Springboot Maven Web Application!'">
    Welcome
</h1>

<hr style="margin:20px 0; border-color:#C8A2C8;">

<p style="text-align:center; color:#6A5ACD;">
    This time we are using Thymeleaf template engine.
</p>

<hr style="margin:20px 0; border-color:#C8A2C8;">

<h3 style="text-align:center; font-style:italic; color:#593D88;">
    Goodbye Unifi ... ✋🏻✋🏻✋🏻✋🏻✋🏻✋🏻!
</h3>

<p style="text-align:center;">
    These hands are copied from
    <a href="https://emojidb.org/white-hand-emojis" target="_blank" rel="noopener noreferrer" style="color:#6A5ACD;">
        https://emojidb.org/white-hand-emojis
    </a> , not AI !!
</p>

<p style="text-align:center; margin-top: 30px;">
    <a href="/items/new" style="padding: 10px 20px; background-color:#6A5ACD; color:white; text-decoration:none; border-radius:5px;">Click to Shop</a>
</p>
</body>
</html>
